{% extends "base.html" %}
{% load static %}

{% block title %}Interface{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<style>
.top-buffer { margin-top:40px; }
.btn-block { height: 70px; margin: 10px; }
.form-control{ margin: 10px; height: 70px; }
</style>
{% endblock %}

{% block content %}
<form action="/update" method="post">
<div class=container-fluid">
        <div class="row">
            <div class=col-sm-4>
                <div class="form-group">
                    <input type="hidden" id="kitchen" name="kitchen">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" id="streger" name="streger" placeholder="streger">
                </div>
            </div>
        </div>
      </div>

        <div class="row">
            <div class="col-sm-1">
                <input type="button" value="1A" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="2A" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="3A" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="4A" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="5A" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="6A" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="7A" class="kbutton btn btn-default btn-lg btn-block">
            </div>
            <div class="col-sm-1">
                <input type="button" value="1B" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="2B" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="3B" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="4B" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="5B" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="6B" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="7B" class="kbutton btn btn-default btn-lg btn-block">
            </div>
            <div class="col-sm-1">
                <input type="button" value="1C" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="2C" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="3C" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="4C" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="5C" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="6C" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="7C" class="kbutton btn btn-default btn-lg btn-block">
            </div>
            <div class="col-sm-1">
                <input type="button" value="1D" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="2D" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="3D" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="4D" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="5D" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="6D" class="kbutton btn btn-default btn-lg btn-block">
                <input type="button" value="7D" class="kbutton btn btn-default btn-lg btn-block">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-1">
                <input type="button" value="Aspiranter" class="kbutton btn btn-default btn-lg btn-block">
            </div>
            <div class="col-sm-1">
                <input type="button" value="Crew" class="kbutton btn btn-default btn-lg btn-block">
            </div>
            <div class="col-sm-2">
                <input type="button" value="Marbarudvalget" class="kbutton btn btn-default btn-lg btn-block">
            </div>

</form>
{% endblock %}
