{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}
{% block head %}
<script src="static/odometer/odometer.js"></script>
<style>
/* default styling */
.banner {
  margin-bottom:12pt;
  width:800px;
  max-width:70vh;
}
#countdown {
{% if object.date_start > now %}
  font-size: 4pc;
{% else %}
  font-size: 14pt;
{% endif %}
}
.odometer { font-size: 18pt; }
.points { text-align: center; }
.carousel-inner > .item > img,
.carousel-inner > .item > a > img { width: 70%; margin: auto; }
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.carousel-fade .carousel-inner .active { opacity: 1; }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1; }
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }
.top-buffer { margin-top: 0px; }
</style>
<style>
/* custom styling */
{{ object.style }}
</style>
{% if object.date_end > now %}
<script>
window.addEventListener("load", (event) => {
    {# countdown to start, otherwise count down to end #}
{% if object.date_start > now %}
	const countdown_date = '{{ object.date_start|date:"Y-m-d H:i" }}';
{% else %}
	const countdown_date = '{{ object.date_end|date:"Y-m-d H:i" }}';
{% endif %}

	var countdown_to = new Date(countdown_date).getTime();
	const countdown_elem = document.getElementById('countdown');

	var timer = setInterval(() => {
		var now = new Date().getTime();
		var diff = countdown_to - now;

		if (diff < 0) {
	{% if object.date_start > now %}
			location.reload();
	{% else %}
			countdown_elem.textContent = "00:00:00";
			if (countdown_elem.style.color != "black") { countdown_elem.style.color = "black"; }
			else { countdown_elem.style.color = "white"; }
            return;
	{% endif %}
		}

		var days = Math.floor(diff / (1000 * 60 * 60 * 24));
		var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

		/* Vi gider ikke se dage hvis der er mindre end 3 tilbage */
		if (days > 3) {

			countdown_elem.textContent = `${days} dage og ${hours} timer!`;

			/* Analogt til sidste kommentar, gider vi ikke se sekunder hvis der er lang
			   tid tilbage */
		} else {
			hours = (hours + days * 24).toString().padStart(2,'0');
			var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60)).toString().padStart(2,'0');
			var seconds = Math.floor((diff % (1000 * 60)) / 1000).toString().padStart(2,'0');

			countdown_elem.textContent = `${hours}:${minutes}:${seconds}`;
		}

	}, 1000 /* 1sec interval between updates */);
});

{% if object.date_start < now %}
/* ongoing */

const update_url = "/update/{{ object.id }}"; /* TODO fix this bs later */
/* Ideally we want to use `url 'endpoint'` or something like this
 * instead of hardcoding 'update' in there */

const update_socket = new WebSocket('ws://' + window.location.host + update_url);

function update(consumer, streger) {
	var elem = document.getElementById(consumer);
	var count = parseInt(elem.textContent);
	if (isNaN(count)) { /* we fucked up somewhere, refresh */ }

	elem.textContent = count + streger;
}

update_socket.onmessage = function(e) {
	const message = JSON.parse(e.data);

    console.log("received message of type " + message.type);

	if (message.type === "update") {
		/* Update a single counter */
		update(message.consumer, message.count);

	} else if (message.type === "update_all") {
        console.log(message.streger);
        for (var i = 0; i < message.streger.length; i++) {
            update(message.streger[i].consumer, message.streger[i].count);
        }
		/* TODO: update all parts */;
	} else if (message.type === "refresh") {
		location.reload();
	}
};

{% endif %}
</script>
{% endif %}
{% endblock %}

{% block content %}
{% if object is None %}{# Check if there are any active marbars #}
No current marbars!
Go see the list of old marbars at <a href="{% url 'index' %}">index</a>

{% else %}{# Actual page #}
{% if object.date_start > now %}
<div class="container w-100 h-100">
  <h1 class="text-center align-middle" style="margin-top:20vh">Marbar starter om</h1>
  <div id="countdown" class="text-center"> (Insert countdown) </div>
  <h3 class="text-center">{{ object.title }}</h3>
</div>

{% elif object.date_end < now %}
<div class="container w-100 h-100">
  <h1 class="text-center align-middle" style="margin-top:20vh">Marbar has concluded.</h1>
</div>
{% else %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
      <h1>1A</h1><div id="1A" class="odometer">0</div>
      <h1>2A</h1><div id="2A" class="odometer">0</div>
      <h1>3A</h1><div id="3A" class="odometer">0</div>
      <h1>4A</h1><div id="4A" class="odometer">0</div>
      <h1>5A</h1><div id="5A" class="odometer">0</div>
      <h1>6A</h1><div id="6A" class="odometer">0</div>
      <h1>7A</h1><div id="7A" class="odometer">0</div>
    </div>

    <div class="col-sm-1">
      <h1>1B</h1><div id="1B" class="odometer">0</div>
      <h1>2B</h1><div id="2B" class="odometer">0</div>
      <h1>3B</h1><div id="3B" class="odometer">0</div>
      <h1>4B</h1><div id="4B" class="odometer">0</div>
      <h1>5B</h1><div id="5B" class="odometer">0</div>
      <h1>6B</h1><div id="6B" class="odometer">0</div>
      <h1>7B</h1><div id="7B" class="odometer">0</div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        {% if object.banner.name %}
        <img class="banner" src="{{ object.banner.url }}">
        {% else %}
        <img class="banner" src="/kekw.png" alt="Missing banner file">
        {% endif %}
      </div>

      <div class="row"><div id="countdown" class="text-center">(Insert countdown)</div></div>

      <div class="row">
        <div class="col-sm-6 container top-buffer" id="graphSlider"></div>
        {% if object.elfsight_apikey %}
        <div class="elfsight-app-{{ object.elfsight_apikey }}"></div>
        {% endif %}
      </div>

      <div class="row top-buffer">
        <div class="col-sm-4"><h1>Aspiranter</h1><div id="Aspiranter" class="odometer">0</div></div>
        <div class="col-sm-4"><h1>Crew</h1><div id="Crew" class="odometer">0</div></div>
        <div class="col-sm-4"><h1>Marbarudvalget</h1><div id="Marbarudvalget" class="odometer">0</div></div>
      </div>
    </div>

    <div class="col-sm-1">
      <h1>1C</h1><div id="1C" class="odometer">0</div>
      <h1>2C</h1><div id="2C" class="odometer">0</div>
      <h1>3C</h1><div id="3C" class="odometer">0</div>
      <h1>4C</h1><div id="4C" class="odometer">0</div>
      <h1>5C</h1><div id="5C" class="odometer">0</div>
      <h1>6C</h1><div id="6C" class="odometer">0</div>
      <h1>7C</h1><div id="7C" class="odometer">0</div>
    </div>

    <div class="col-sm-1">
      <h1>1D</h1><div id="1D" class="odometer">0</div>
      <h1>2D</h1><div id="2D" class="odometer">0</div>
      <h1>3D</h1><div id="3D" class="odometer">0</div>
      <h1>4D</h1><div id="4D" class="odometer">0</div>
      <h1>5D</h1><div id="5D" class="odometer">0</div>
      <h1>6D</h1><div id="6D" class="odometer">0</div>
      <h1>7D</h1><div id="7D" class="odometer">0</div>
    </div>

  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
